a{ color:#885df1;}


body { background-color: #f9f7fe;}

.weather-app{
    background-color: white;
    margin: 40px auto;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 30px 50px rgba (65, 50, 100 , 0, 0.08);
    border-radius: 12px;

}

.search-input{
    padding: 16px 20px;
    width: 79%;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    background-color:  #f9f7fe;

}

.search-button{
    border-radius: 6px;
    font-size: 12px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 16px 20px;
    margin-left: 10px;
    font-size: 15px;}

.app-data{
        display: flex;
        justify-content: space-between;
}


footer{ font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        margin: 15px;
        text-align: center;
        font-size:medium;
}

main {
    padding: 25px 0;
}

.app-city {
    margin: 0 ;
    font-size: 38px;
    line-height: 48px;
    padding: 8px;
}

.app-details {
    font-size: 15px;
    line-height: 25px;
}

.app-details strong {
    color: #f65282;

}

.app-temperature-container {
    display: flex;
    margin: 12px;
}

.weather-percent{
    font-size: 90px;
    font-weight: bold;
    margin-left: 10px;
}

.weather-emoji{
    width: 70px;
    font-size: 70px;
    
}

.weather-unit{
    font-size: 46px;

}